<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

%h3 
  Doggo
  = dog_face(@last_walk_in_h)
  \- #{@time.strftime('%d/%m/%y')}
- if @last_walk_in_h
  - if @last_walk_in_h == 0
    %p
      Promené il y a moins d'une heure
  - else
    %p
      Promené il y a #{@last_walk_in_h} #{'heure'.pluralize(@last_walk_in_h)}
  %div
    %table.table
      %thead
        %tr
          %th{:colspan => "3"} Promenades
      %tbody
        -@walks_today.each do |walk|
          %tr
            %td
              = walk.username
            %td
              #{walk.duration} min
            %td
              à #{walk.date.strftime("%H:%M")}
- else
  %p
    Pas encore de promenade aujourd'hui !

.btn.btn-primary
  Voir les balades passées

%input#datepicker{:type => 'text'}

:javascript
  $( function() {
    $( "#datepicker" ).datepicker({
      dateFormat: 'dd/mm/yy'
    });

    $('#datepicker').change(function() {
      window.location.href = "/dashboard?" + jQuery.param({date: $(this).val()});
    })
  });
