%h3 Créer une nouvelle promenade
= form_for @walk, url: {action: "create"}, method: :post, role: "form" do |f|
  %div
    %p#city
    %p#desc
  .form-group
    = f.label :weather, 'Météo'
    = f.select(:weather, options_for_select(@weathers), {}, {class: "form-control"})
    = f.label :duration, 'Durée de la promenade (min)'
    = f.number_field :duration, class: "form-control", required: true
    = f.label :date, 'Date de la promenade'
    = f.datetime_field :date, class: "form-control", value: Time.now.strftime("%Y-%m-%dT%H:%M"), required: true
    %p{ :style => "font-weight: bold;" }
      Inviter d'autre personnes
    - User.where.not(id: @user.id).each do |user|
      %span{ :style => "padding-left: 15px;" }
        = check_box_tag(:user_ids, user.id, false, :name=> 'user_ids[]', id: "#{user.id}")
        %span
          = user.username 
    %br
    = f.submit "Créer", class: "btn btn-primary",  :style => "margin-top: 20px;" 


:javascript

  var api = "https://fcc-weather-api.glitch.me/api/current?";
  var lat, lon;
  var tempUnit = 'C';
  var currentTempInCelsius;

  $( document ).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        lat = "lat=" + position.coords.latitude;
        lon = "lon=" + position.coords.longitude;
        getWeather(lat, lon);
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
    } 
    
  })

  function getWeather(lat, lon) {
    var urlString = api + lat + "&" + lon;
    $.ajax({
      url: urlString, success: function (result) {
        $("#city").text(result.name);
        $("#desc").text(fr_desc(result.weather[0].main));
        $("select").val((result.weather[0].main).toLowerCase());
      }
    });
  }

  function fr_desc(desc) {
    switch (desc.toLowerCase()) {
      case 'clouds': return 'Nuageux'
      case 'drizzle': return 'Bruine'
      case 'rain': return 'Pluie'
      case 'snow': return 'Neige'
      case 'clear': return 'Temps clair'
      case 'thunderstom': return 'Orage'
      case 'fog': return 'Brouillard'
      case 'mist': return 'Brume'
    }
  }

