%h3 Dog count
%div
  %table.table
    %thead
      %tr
        %th{:colspan => "3"} Classement du mois 
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.username
          %td
            = user.number_walks_current_month
            promenades
          %td
            = user.duration_walks_current_month
            minutes
          %td
            = link_to "", walks_path(:user_id => "#{user.id}"), class: "glyphicon glyphicon-eye-open"

- if user_signed_in?
  %div
    = link_to "Nouvelle promenade", new_walk_path, class: "btn btn-primary"
    = link_to "Doggo dashboard", dashboard_path, class: "btn btn-primary"
